@inherits ScoresTerminalBase
@using RLEngine.Server

<div class="terminalCell">
    <table>
        <tr>
            <td>Health</td>
            <td>@Health / @MaxHealth</td>
        </tr>
        <tr>
            <td>Attack</td>
            <td>@Attack</td>
        </tr>
        <tr>
            <td>Defense</td>
            <td>@Defense</td>
        </tr>
        <tr>
            <td>Strength</td>
            <td>@Strength</td>
        </tr>
        <tr>
            <td>Dexterity</td>
            <td>@Dexterity</td>
        </tr>
        <tr>
            <td>Wisdom</td>
            <td>@Wisdom</td>
        </tr>
        <tr>
            <td>Intelligence</td>
            <td>@Intelligence</td>
        </tr>
        <tr>
            <td>Constitution</td>
            <td>@Constitution</td>
        </tr>
        <tr>
            <td>Charisma</td>
            <td>@Charisma</td>
        </tr>
    </table>
</div>