@inherits GameBase
@using RLEngine.Server.Components;
@page "/game"

<PageTitle>Main Game</PageTitle>
<div class="gameWindow" tabindex="0" @onkeydown="HandleKeyDown">
    <InventoryDialog @ref="InventoryDialog" Open="@InventoryDialogOpen" Items="inventoryDialogItems" Mode="Mode" Player="@player"></InventoryDialog>
    <div class="terminalContainer" @ref="keyRef" >

        <div class="terminalCell" style="grid-column: span 3;">Header</div>
        <div class="terminalCell">Area A</div>
        <GameTerminal Player="@player" GameBoardObjects="@GameBoardObjects"></GameTerminal>

        <HistoryTerminal OnCommandChange="CommandChangeHandler" Player="@player" CommandText="@CommandText"></HistoryTerminal>

        <div class="terminalCell">Area B</div>
        <StatusTerminal Player="@player" LastAction="@pressedKey"></StatusTerminal>
        <div style="grid-column: span 3;"></div>
    </div>
</div>